html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #2E4057;
    font-family: 'Trebuchet MS', sans-serif;
    color: #131C26;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height:auto;
}

header {
    padding: 20px 0;
    text-align: center;
}

header h1 {
    background-color: #FFF7EE;
    font-size: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .logo {
    width: 10%;
    max-width: 100%;
    margin: 0 20px;
}

.divider {
    width: 100%;
    margin: 10px auto;
    border: 0;
    border-top: 2px solid #131C26;
}

nav {
    background-color: #F7B3CC;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #131C26;
    font-size: 1em;
}

main {
    background-color: #EE583F;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

main h2 {
    font-size: 4em;
    margin-top: 0;
}

main h3 {
    font-size: 1.5em;
    margin-top: 0;
}

main h4 {
    font-size: 1.5em;
    margin-top: 0;
}

.content {
    background-color: #FFF7EE;
    padding: 15px;
    color: #131C26;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5em;
    max-width: 2500px;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    box-sizing: border-box;
}

.team-table h3 {
    background-color: #FFF7EE;
    border: 1px solid #131C26;
    border-radius: 8px;
    padding: 15px;
    width: 95%;
    font-size: 1.5em;
    line-height: 2em;
    max-width: 3000px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.team-table th {
    padding: 15px;
    margin-top: 0;
    text-align: center;
}

. team-table .content {
    padding: 15px;
    margin-top: 0;
    text-align: left;
    background-color: #FFF7EE;
    box-sizing: border-box;

.team-table td {
    padding: 15px;
    vertical-align: top;
}

.team-table img {
    padding: 15px;
    width: auto;
    max-width: 200px;
    height: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.contact-table {
    background-color: #FFF7EE;
    border-radius: 8px;
    padding: 15px;
    width: 75%;
    max-width: 1000px;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.contact-table th {
    text-align: center;
    line-height: 2em;
}

.form-table {
    background-color: #FFF7EE;
    border-radius: 8px;
    padding: 15px;
    width: 75%;
    max-width: 1000px;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.form-table th {
    text-align: center;
    line-height: 2em;
}

.form-table th, td {
   border: 1px solid #131C26;
    border-radius: 8px;
}

.form-table label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.form-table input, .form-table textarea {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #131C26;
    border-radius: 5px;
    box-sizing: border-box;    
}

.form-table input[type="submit"] {
    background-color: #F7B3CC;
    font-weight: bold;
    color: #131C26;
    cursor: pointer;
    margin-top: 15px;
    width: 40%;
}

.form-table input[type="submit"]:hover {
    background-color: #7A4F73;
    color: #FFF7EE;
}

footer {
    background-color: #2E4057;
    color: #C1CFD6;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.newsletter form {
    text-align: left;
}

.newsletter label {
    display: block;
    margin-bottom: 5px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #131C26;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #F7B3CC;
    color: #131C26;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #7A4F73;
    color: #FFF7EE;
}

.contact p {
    margin: 10px 0;
}

.contact img {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

footer nav {
    background-color: #F7B3CC;
    padding: 10px 0;
}

footer .nav-links {
    justify-content: center;
}

footer .nav-links li {
    margin: 0 10px;
}

footer .nav-links a {
    font-size: 1em;
}
